<p>
  icons works!
</p>
<div>
  <clr-icon shape="user" style="width: 72px; height: 72px;"></clr-icon>
  <clr-icon shape="user" class="has-alert" style="width: 72px; height: 72px;"></clr-icon>
  <clr-icon shape="user" class="has-badge" style="width: 72px; height: 72px;"></clr-icon>
  <clr-icon shape="user" class="is-solid" style="width: 72px; height: 72px;"></clr-icon>
  <clr-icon shape="user" class="is-solid has-alert" style="width: 72px; height: 72px;"></clr-icon>
  <clr-icon shape="user" class="is-solid has-badge" style="width: 72px; height: 72px;"></clr-icon>
  <clr-icon shape="user" class="is-solid has-badge--success" style="width: 72px; height: 72px;"></clr-icon>
</div>
